<a href="https://colab.research.google.com/github/SariNanda42/My-Learning-Journey/blob/main/How_to_read_data_and_handle_missing_value_on_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Read data using pandas and head**

In [ ]:
#read data using pandas
import pandas as pd
csv_data = pd.read_csv('/content/sample_data/shopping_data.csv')
print(csv_data)

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [ ]:
#read data using head
print(csv_data.head())

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [ ]:
#showing column data
print(csv_data.columns)

Index(['CustomerID', 'Genre', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [ ]:
#Access data based on column
print(csv_data['Age'])

0      19
1      21
2      20
3      23
4      31
       ..
195    35
196    45
197    32
198    32
199    30
Name: Age, Length: 200, dtype: int64

In [ ]:
#Access data based on line
print(csv_data.iloc[5])

CustomerID                     6
Genre                     Female
Age                           22
Annual Income (k$)            17
Spending Score (1-100)        76
Name: 5, dtype: object

In [ ]:
#showing data within a certain range
print(csv_data.iloc[10:20])

    CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
10          11    Male   67                  19                      14
11          12  Female   35                  19                      99
12          13  Female   58                  20                      15
13          14  Female   24                  20                      77
14          15    Male   37                  20                      13
15          16    Male   22                  20                      79
16          17  Female   35                  21                      35
17          18    Male   20                  21                      66
18          19    Male   52                  23                      29
19          20  Female   35                  23                      98

**Showing a Statistic Info Using Numpy**

In [ ]:
#Showing statistic data info
print(csv_data.describe(include='all'))

        CustomerID   Genre         Age  Annual Income (k$)  \
count   200.000000     200  200.000000          200.000000
unique         NaN       2         NaN                 NaN
top            NaN  Female         NaN                 NaN
freq           NaN     112         NaN                 NaN
mean    100.500000     NaN   38.850000           60.560000
std      57.879185     NaN   13.969007           26.264721
min       1.000000     NaN   18.000000           15.000000
25%      50.750000     NaN   28.750000           41.500000
50%     100.500000     NaN   36.000000           61.500000
75%     150.250000     NaN   49.000000           78.000000
max     200.000000     NaN   70.000000          137.000000

        Spending Score (1-100)
count               200.000000
unique                     NaN
top                        NaN
freq                       NaN
mean                 50.200000
std                  25.823522
min                   1.000000
25%                  34.750000
50%                  50.000000
75%                  73.000000
max                  99.000000

In [ ]:
#showing statistic info just a numeric data
print(csv_data.describe(exclude=['O']))

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

In [ ]:
#Checking Null Value
print(csv_data.isnull().values.any())

False

Read Dataset - Tsv and Csv

In [ ]:
import pandas as pd
# File CSV
df_csv = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/sample_csv.csv')
print(df_csv.head(5))

   order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508
3   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0520
4   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1513

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
3  BRAND_B        12      450000
4  BRAND_G         3     1500000

In [ ]:
# File TSV
df_tsv = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv', sep='\t')
print(df_tsv.head(5))

   order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508
3   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0520
4   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1513

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
3  BRAND_B        12      450000
4  BRAND_G         3     1500000

Read Dataset Excel file

In [ ]:
import pandas as pd
df_excel = pd.read_excel('https://storage.googleapis.com/dqlab-dataset/sample_excel.xlsx', sheet_name="test")
print(df_excel.head(5))

   order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508
3   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0520
4   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1513

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
3  BRAND_B        12      450000
4  BRAND_G         3     1500000

Read Dataset from Json

In [ ]:
import pandas as pd
url = "https://storage.googleapis.com/dqlab-dataset/covid2019-api-herokuapp-v2.json"
df_json = pd.read_json(url)
print(df_json.head(10))

                                                data          dt          ts
0  {'location': 'US', 'confirmed': 3363056, 'deat...  07-14-2020  1594684800
1  {'location': 'Brazil', 'confirmed': 1884967, '...  07-14-2020  1594684800
2  {'location': 'India', 'confirmed': 906752, 'de...  07-14-2020  1594684800
3  {'location': 'Russia', 'confirmed': 732547, 'd...  07-14-2020  1594684800
4  {'location': 'Peru', 'confirmed': 330123, 'dea...  07-14-2020  1594684800
5  {'location': 'Chile', 'confirmed': 317657, 'de...  07-14-2020  1594684800
6  {'location': 'Mexico', 'confirmed': 304435, 'd...  07-14-2020  1594684800
7  {'location': 'United Kingdom', 'confirmed': 29...  07-14-2020  1594684800
8  {'location': 'South Africa', 'confirmed': 2877...  07-14-2020  1594684800
9  {'location': 'Iran', 'confirmed': 259652, 'dea...  07-14-2020  1594684800

Handling Missing Value

1.   Inspeksi Missing Value

In [ ]:
import pandas as pd
missing_data = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/datacovid19.csv')
print(missing_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province_state  960 non-null    object
 1   country_region  1000 non-null   object
 2   date            1000 non-null   object
 3   latitude        874 non-null    float64
 4   longitude       874 non-null    float64
 5   location_geom   874 non-null    object
 6   confirmed       1000 non-null   int64
 7   deaths          999 non-null    float64
 8   recovered       999 non-null    float64
 9   active          949 non-null    float64
 10  fips            949 non-null    float64
 11  admin2          842 non-null    object
 12  combined_key    0 non-null      float64
dtypes: float64(7), int64(1), object(5)
memory usage: 101.7+ KB
None

In [ ]:
missing_data = missing_data.isna().sum()
print("\nJumlah missing value perkolom:\n", missing_data)

Jumlah missing value perkolom:
 province_state      40
country_region       0
date                 0
latitude           126
longitude          126
location_geom      126
confirmed            0
deaths               1
recovered            1
active              51
fips                51
admin2             158
combined_key      1000
dtype: int64

Handling Missing Value

In [ ]:
import pandas as pd
df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/datacovid19.csv')
print("Ukuran awal df: %d baris, %d kolom." %  df.shape)
print(df.isna().sum())
df = df.dropna(axis=1, how="all")
print("Ukuran data setelah pembuangan kolom dengan seluruh data missing value: %d baris, %d kolom." % df.shape)
df = df.dropna(axis=0 , how = "any")
print("Ukuran data setelah pembuangan baris yang memiliki sekurangnya 1 missing value: %d baris, %d kolom." % df.shape)

Ukuran awal df: 1000 baris, 13 kolom.
province_state      40
country_region       0
date                 0
latitude           126
longitude          126
location_geom      126
confirmed            0
deaths               1
recovered            1
active              51
fips                51
admin2             158
combined_key      1000
dtype: int64
Ukuran data setelah pembuangan kolom dengan seluruh data missing value: 1000 baris, 12 kolom.
Ukuran data setelah pembuangan baris yang memiliki sekurangnya 1 missing value: 746 baris, 12 kolom.

Handling Missing Value Part III mengisi missing value dengan data lain

In [ ]:
import pandas as pd
df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/datacovid19.csv')
# print unique value from province state
print(df["province_state"].unique())
# fill province state with unknown province state
df["province_state"] = df["province_state"].fillna("unknown_province_state")
print(df["province_state"].unique())

[nan 'US' 'Guam' 'Iowa']
['unknown_province_state' 'US' 'Guam' 'Iowa']

In [ ]:
import pandas as pd
df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/datacovid19.csv')
# print first value from mean and median
print("Awal: mean = %f, median = %f." % (df["active"].mean(), df["active"].median()))
# filling missing value
df_median = df["active"].fillna(df["active"].median())
# print value from median and mean after filling median
print("Fillna median: mean = %f, median = %f." % (df_median.mean(), df_median.median()))
# filling missing value with mean
df_mean = df["active"].fillna(df["active"].mean())
# print value from median and mean after filling mean
print("Fillna mean: mean = %f, median = %f." % (df_mean.mean(),df_mean.median()))

Awal: mean = 192.571128, median = 41.000000.
Fillna median: mean = 184.841000, median = 41.000000.
Fillna mean: mean = 192.571128, median = 49.000000.