<a href="https://colab.research.google.com/github/SariNanda42/My-Learning-Journey/blob/main/Python_For_Bigginer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
bilangan = 5
bilangan2 =3
print(bilangan+bilangan2)
print(bilangan-bilangan2)

8
2

*Variable*

In [ ]:
bilangan = 1
_nanda = 3
NANDA = 4

Tipe data dasar ( Null, Boolean, Numeric, Text)


1.   Null = Nilai kosong (None)
2.   Boolean = True/false
3.   Numeric = data angka , int = untu bilangan bulat , float = untuk bilangan rill (bilangan koma)
4.   Text = data text biasa

List dan Tuple

In [ ]:
#Contoh data List (data list bersifat mutable yang isinya dapat kita ubah)
#mengisi data list
list_1 = [1,2,3,4,'lima', 6]
#Menampilkan isi list di urutan 1
print(list_1 [0])
print(list_1[4])
#Mengganti isi data list pada urutan ke dua menjadi 'lima'
list_1 [2] = 'lima'
print(list_1)
print(list_1[2])

1
lima
[1, 2, 'lima', 4, 'lima', 6]
lima

In [ ]:
#Contoh data Tuple (data tuple bersifat immutable tidak bisa di ubah isinya)
nama_tahun = ('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Junli', 'Agustus')
print(nama_tahun[1])
nama_tahun [2] = 'Desember'
print(nama_tahun [2])

Februari

TypeError: ignored

Set Type (Set dan Frozenset)

In [ ]:
#Data Set : Diawali dan diakhiri tanda kurung kurawal dipisahan tanda koma, tipe data ini tidak mengizinkan adanya data yang sama
Nama_besti_list = {'Nanda','Ecik', 'Rani','Lady','Emrin','Nanda','Rani'}
print(Nama_besti_list)

{'Ecik', 'Emrin', 'Nanda', 'Lady', 'Rani'}

Contoh perbedaan data list, set, dan frozenset

In [ ]:
#list
Teman = ['Nanda','Desi','Rani','Emrin','Lady','Nanda','Rani']
print(Teman)
#Set
Teman2 = {'Nanda','Rani','Nanda','Rani','Ecik'}
print(Teman2)
#frozenset
Kawan = ({'Nanda','Desi','Rani','Emrin','Lady','Nanda','Rani'})
print(Kawan)

['Nanda', 'Desi', 'Rani', 'Emrin', 'Lady', 'Nanda', 'Rani']
{'Nanda', 'Ecik', 'Rani'}
{'Desi', 'Emrin', 'Nanda', 'Lady', 'Rani'}

In [ ]:
#Tipe data Mapping atau biasa disebut dictionary
orang = {'Nama' : 'Budi', 'Pekerjaan' : 'Software Engginer',}
print(orang['Nama'])
print(orang['Pekerjaan'])

Budi
Software Engginer

In [ ]:
#contoh dictionary
nama_barang_sepatu = {'Nama' : 'Sepatu Nike' , 'Harga' : 150000, 'Diskon' : 30000}
nama_barang_baju = {'Nama' : 'Baju Uniqlo', 'Harga' : 80000, 'Diskon' : 8000}
nama_barang_celana = {'Nama' : 'Celana Jeans', 'Harga' : 200000, 'Diskon' : 20000}
#simpan kedalam data list
daftar_belanja = [nama_barang_sepatu,nama_barang_baju,nama_barang_sepatu]
#harga barang setelah diskon
Sepatu = (nama_barang_sepatu['Harga'] - nama_barang_sepatu ['Diskon'])
Baju = (nama_barang_baju['Harga']-nama_barang_baju ['Diskon'])
Celana = (nama_barang_celana['Harga']- nama_barang_celana['Diskon'])
Harga_total = (Sepatu + Baju + Celana)
Harga_Pajak = (Harga_total * 1.1)
print(Harga_Pajak)

409200.00000000006

In [ ]:
bulan_pembelian = ("januari","februari","maret","april","mei","juni","juli","agustus","oktober","november","desember")
print(bulan_pembelian[0])
print(bulan_pembelian[1])
print(bulan_pembelian[-1])
print(bulan_pembelian[-2])

januari
februari
desember
november

In [ ]:
#Mengakses list dan tuple slicing dengan mnggunakan rentang nilai indeks
bulan_pembelian = ('Januari', 'Februari','Maret','April','Mei','Juni','Juli','Agustus','Spetember','Oktober','November','Desember')
pertengahan_tahun = bulan_pembelian[4:8]
print(pertengahan_tahun)
awal_tahun = bulan_pembelian[:4]
print(awal_tahun)
akhir_tahun = bulan_pembelian[-4:]
print(akhir_tahun)
#cuting list/tuple using negatif indeks
print(bulan_pembelian[-4:-1])

('Mei', 'Juni', 'Juli', 'Agustus')
('Januari', 'Februari', 'Maret', 'April')
('Spetember', 'Oktober', 'November', 'Desember')
('Spetember', 'Oktober', 'November')

In [ ]:
#Combine list or tuple
list_makanan = ['Gado-gado','Ayam Goreng','Rendang']
list_minuman = ['Es Teh','Es Jeruk','Es Campur']
list_menu = list_makanan + list_minuman
print(list_menu)

['Gado-gado', 'Ayam Goreng', 'Rendang', 'Es Teh', 'Es Jeruk', 'Es Campur']

list Manipulation (append(),clear(),copy(),count(),extend())

In [ ]:
#.append
print(">>> Fitur.append()")
list_makanan = ['Gado-gado','Ayam Goreng','Rendang']
list_makanan.append('Ketoprak')
print(list_makanan)

>>> Fitur.append()
['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']

In [ ]:
#.clear
print(">>> Fitur.clear()")
list_makanan = ['Gado-gado','Ayam Goreng', 'Rendang']
list_makanan.clear()
print(list_makanan)

>>> Fitur.clear()
[]

In [ ]:
#.copy
print(">>> Fitur.copy()")
list_makanan1 = ['Gado-gado','Ayam Goreng','Rendang']
list_makanan2 = list_makanan1.copy()
list_makanan3 = list_makanan1
list_makanan2.append('Opor')
list_makanan1.append('Ketoprak')
print(list_makanan2)
print(list_makanan1)

>>> Fitur.copy()
['Gado-gado', 'Ayam Goreng', 'Rendang', 'Opor']
['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']

In [ ]:
#.count
print(">>> Fitur. count()")
list_nama = ['Nanda','Nanda','Rani','Rani','Rani','Nanda','Nanda']
jumlah_nama1 = list_nama.count('Nanda')
jumlah_nama = list_nama.count('Rani')
print(jumlah_nama1)
print(jumlah_nama)

>>> Fitur. count()
4
3

In [ ]:
#.extend
print(">>> Fitur.extend()")
list_makanan = ['Gado-Gado','Ayam Goreng','Rendang']
list_minuman = ['Boba','Es Teh','Cappucino']
list_makanan.extend(list_minuman)
print(list_makanan)

>>> Fitur.extend()
['Gado-Gado', 'Ayam Goreng', 'Rendang', 'Boba', 'Es Teh', 'Cappucino']

list manipulation index(), insert(), pop(), remove(), reverse(), and sort()

In [ ]:
#.index
print(">>> Fitur.index()")
list_score = ['Budi','Sudi','Budi','Budi','Budi','Sud','Sud']
list_pertama_sudi = list_score.index('Sudi') + 1
print(list_pertama_sudi)

>>> Fitur.index()
2

In [ ]:
#.insert
print(">>> Fitur.insert()")
list_score = ['Budi','Sud','Budi','Budi','Sud']
list_score.insert(3, 'Sud')
print(list_score)

>>> Fitur.insert()
['Budi', 'Sud', 'Budi', 'Sud', 'Budi', 'Sud']

In [ ]:
#.pop()
print(">>> Fitur.pop()")
list_menu = ['Gado-gado','Ayam Goreng','Ayam Pop']
list_menu.pop(1)
print(list_menu)

>>> Fitur.pop()
['Gado-gado', 'Ayam Pop']

In [ ]:
#.remove()
print(">>> Fitur.remove()")
list_menu = ['Ayam Goreng','Ayam Bakar','Gado-gado','Ketoprak','Kerak Telor']
list_menu.remove('Ketoprak')
print(list_menu)

>>> Fitur.remove()
['Ayam Goreng', 'Ayam Bakar', 'Gado-gado', 'Kerak Telor']

In [ ]:
#.reverse()
print(">>> Fitur.reverse()")
list_menu = ['Ayam Goreng','Ayam Bakar','Gado-gado','Ketoprak','Kerak Telor']
list_menu.reverse()
print(list_menu)

>>> Fitur.reverse()
['Kerak Telor', 'Ketoprak', 'Gado-gado', 'Ayam Bakar', 'Ayam Goreng']

In [ ]:
#.sort()
print(">>> Fitur.sort()")
list_menu = [5,6,7,6,7,1,2,3]
list_menu.sort()
print(list_menu)
list_menu.sort(reverse=True)
print(list_menu)

>>> Fitur.sort()
[1, 2, 3, 5, 6, 6, 7, 7]
[7, 7, 6, 6, 5, 3, 2, 1]

Tuple Manipulation

In [ ]:
#.count
print(">>> Fitur.count()")
tuple_score = ('Budi','Sud','Budi','Budi','Budi','Sud','Sud')
score_budi = tuple_score.count('Budi')
score_sud = tuple_score.count('Sud')
print(score_budi)
print(score_sud)

>>> Fitur.count()
4
3

In [ ]:
#.index
print(">>> Fitur.Index()")
tuple_score = ('Budi','Sud','Sud','Budi','Sud','Budi','Sud')
score_pertama_sud = tuple_score.index('Sud')+2
print(score_pertama_sud)

>>> Fitur.Index()
3

Set Manipulation Part

In [ ]:
#.add()
print(">>> Fitur.add()")
set_buah = {'Jeruk','Apel','Anggur'}
set_buah.add('Melon')
print(set_buah)

>>> Fitur.add()
{'Jeruk', 'Anggur', 'Melon', 'Apel'}

In [ ]:
#.clear
print(">>> Fitur.clear()")
set_buah = {'Jeruk','Apel','Anggur'}
set_buah.clear()
print(set_buah)

>>> Fitur.clear()
set()

In [ ]:
#.copy
print(">>> Fitur.copy()")
set_buah1 = {'Jeruk','Apel','Anggur'}
set_buah2 = set_buah1
set_buah3 = set_buah1.copy()
set_buah2.add('Rambutan')
set_buah3.add('Mengkudu')
print(set_buah2)
print(set_buah3)

>>> Fitur.copy()
{'Jeruk', 'Rambutan', 'Anggur', 'Apel'}
{'Jeruk', 'Mengkudu', 'Anggur', 'Apel'}

In [ ]:
#.remove 
print(">>> Fitur.remove()")
parcel = {'Jeruk','Mengkudu','Apel'}
parcel.remove('Apel')
print(parcel)

>>> Fitur.remove()
{'Jeruk', 'Mengkudu'}

Dictionary Manipulation

In [ ]:
#.clear
print(">>> Fitur.clear()")
info_karyawan = {'nama':'Anidia', 'nik':'12345', 'pekerjaan':'Bisnis Girl'}
info_karyawan.clear()
print(info_karyawan)

>>> Fitur.clear()
{}

In [ ]:
#.copy
print(">>> Fitur.copy()")
info_karyawan1 = {'nama':'Anidia','nik':'12345','pekerjaan':'Bisnis Girl'}
info_karyawan2 = info_karyawan1.copy()
info_karyawan2['nama'] = 'Nanda'
info_karyawan2['nik'] = '56789'
info_karyawan2['pekerjaan'] = 'Data Scienctist'
print(info_karyawan1)
print(info_karyawan2)

>>> Fitur.copy()
{'nama': 'Anidia', 'nik': '12345', 'pekerjaan': 'Bisnis Girl'}
{'nama': 'Nanda', 'nik': '56789', 'pekerjaan': 'Data Scienctist'}

In [ ]:
#.keys
print(">>> Fitur.keys()")
info_karyawan = {'nama':'Nanda','nik':'5789','pekerjaan':'Data Scientist'}
kunci_akses = list(info_karyawan.keys())
print(kunci_akses)

>>> Fitur.keys()
['nama', 'nik', 'pekerjaan']

In [ ]:
#.values
print(">>> Fitur.values()")
value_dict = list(info_karyawan.values())
print(value_dict)

>>> Fitur.values()
['Nanda', '5789', 'Data Scientist']

Penggabungan, pemecahan, dan penggantian string

In [ ]:
#.split() = memecah sebuah string berdasarkan string lainnya dalam sebuah list
print(">>> Fitur.split()")
frasa = "ani dan budi dan wati dan johan dan bejo"
karakter = frasa.split("dan") #memisahkan berdasarkan karakter 
print(karakter)
spasi = frasa.split(" ") #berdasarkan spasi
print(spasi)

>>> Fitur.split()
['ani ', ' budi ', ' wati ', ' johan ', ' bejo']
['ani', 'dan', 'budi', 'dan', 'wati', 'dan', 'johan', 'dan', 'bejo']

In [ ]:
#.join() = menggabungkan sebuah list yang berisikan string 
print(">>> Fitur.join()")
pemisah = " dan "
karakter = ["Ricky","Petter","Jordan"]
print(pemisah.join(karakter))
frasa = " ".join(karakter)
print(frasa)

>>> Fitur.join()
Ricky dan Petter dan Jordan
Ricky Petter Jordan

In [ ]:
#.replace = mmenggantikan suatu string tertentu dengan string lainnya
print(">>> Fitur.replace()")
nama_buah = "apel malang adalah apel yang paling enak, apel segar, apel sehat"
nama_buah = nama_buah.replace('apel',"jeruk")
print(nama_buah)

>>> Fitur.replace()
jeruk malang adalah jeruk yang paling enak, jeruk segar, jeruk sehat